body {
    font: 0.938rem/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.button1 {
    height: 2.375rem;
    background: #e8491d;
    border: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    color: #ffffff;
}

.dark {
    padding: 0.938rem;
    background: #35424a;
    color: #ffffff;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

/* --------------heading styles starts here-------------------- */
.heading {
    background: #35424a;
    border-bottom: #e8491d 0.188rem solid;
    color: #ffffff;
    padding-top: 1.875rem;
    min-height: 4.375rem;
}

.heading a {
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.heading li {
    padding: 0 1.25rem 0 1.25rem;
    /* float: left; */
    display: inline;
}

.heading .websitename {
    float: left;
}

.heading .websitename h1 {
    margin: 0;
}

.heading nav {
    float: right;
    margin-top: 0.625rem;
}

.heading .highlight, .heading .active a {
    color: #e8491d;
    font-weight: bold;
}

.heading a:hover {
    color: #cccccc;
    font-weight: bold;
}
/*-------------------.heading styles ends here----------------------*/

/*----------------main content styles starts here-----------------*/
.maincontent {
    min-height: 25rem;
    background: url('./Assets/images/ACMEimg4.png') no-repeat;
    text-align: center;
    color: #ffffff;
}

.maincontent h1 {
    margin-top: 6.25rem;
    font-size: 3.438rem;
    margin-bottom: 0.625rem;
}

.maincontent p {
    font-size: 1.25rem;
}
/*----------------main content styles ends here-----------------*/

/* --------------subscribe styles starts here------------------ */
.subscribe {
    padding: 0.938rem;
    color: #ffffff;
    background: #35424a;
}

.subscribe h2 {
    float: left;
}

.subscribe form {
    float: right;
    margin-top: 0.938rem;
}

.subscribe input[type="email"] {
    padding: 0.25rem;
    height: 1.563rem;
    width: 15.625rem;
}
/* --------------subscribe styles ends here------------------ */

/* --------------box style starts here----------------*/
.boxes {
    margin-top: 1.25rem;
}

.boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 0.625rem;
}

.boxes .box img {
    width: 5.625rem;
}
/* --------------box style ends here----------------*/

/*-------------------- footer styles---------- */
.footer {
    padding: 1.25rem;
    margin-top: 1.25rem;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}

/*------------------aboutus styles starts here----------------------------*/
.aboutus-rightdesc#sidebar {
    float: right;
    width: 30%;
    margin-top: 0.625rem;
}

.aboutus-rightdesc#sidebar .quote input, .aboutus-rightdesc#sidebar .quote textarea {
    width: 90%;
    padding: 0.313rem;
}

.aboutus-leftdesc#main-col {
    float: left;
    width: 65%;
}
/*-------------------aboutus styles ends here---------------- */

/*--------------- Services styles-------------------- */
ul#services li {
    list-style: none;
    padding: 1.25rem;
    border: #cccccc solid 0.063rem;
    margin-bottom: 0.313rem;
    background: #e6e6e6;
}

/* ----------------------Media Query------------------ */
@media(max-width: 48rem) {
    .heading nav, 
    .heading .websitename, 
    .aboutus-leftdesc#main-col, 
    .aboutus-rightdesc#sidebar, 
    .heading nav li, 
    .subscribe h2, 
    .subscribe form, 
    .boxes .box {
        float: none;
        text-align: center;
        width: 100%
    }
    .heading {
        padding-bottom: 1.25rem;
    }
    .maincontent h1 {
        margin-top: 2.5rem;
    }
    .subscribe button, .quote button {
        width: 100%;
    }
    .subscribe form input[type="email"], .quote input, .quote textarea {
        width: 100%;
        margin-bottom: 1.25rem
    }
}